* {
  padding: 0;
  margin: 0;
}
body {
  margin: 140px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.heading {
  padding-bottom: 30px;
  text-align: center;
}
.photo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.photographer_img {
  margin-top: 20px;
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 4px;
}
.photographer_name {
  padding-top: 10px;
  color: #222;
  font-size: 1.5rem;
}
@media (max-width: 678px) {
  body {
   margin: 40px;
   overflow: hidden;
  }
  .photo {
    display: flex;
    flex-direction: column;
  }
}
